.article-description {
    margin: 0 16px 0 16px;
    text-align: left;
}
.article-title {
    font-weight: bold;
}
.featured {
    display: block;
    margin-bottom: 64px;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
.left, .right {
    display: block;
    @media screen and (max-width: 500px) {
        float: none;
        width: 100%;
    }
}
.featured {
    overflow: hidden;
    padding-bottom: 64px;
    mat-nav-list {
        margin: 0 5% 0 5%;
    }
}
mat-form-field {
    display: block;
}
.search-bar {
    display: flex;
    .search-input {
        flex: auto;
    }
}