<div [@load]="loaded() ? 'shown' : 'hidden'" class="page-margins">
  <ng-container *ngIf="loaded() as articles; else loading">
    <div class="featured">
      <h2>Featured</h2>
      <div class="left" *ngIf="articles[0] as featured">
        <mat-card>
          <img  (loaded)="loaded()" mat-card-image [src]="featured.image" alt="">
          <mat-card-header>
            <mat-card-title>{{featured.title}}</mat-card-title>
            <mat-card-subtitle>{{featured.authorData ? "by " + featured.authorData.name : ""}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content align="end">
            <p class="article-description">{{featured.description}}</p>
            <a mat-button [routerLink]="['/' + featured.id]">Read more</a>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="right">
        <app-article-list [articles]="articles.slice(1)"></app-article-list>
      </div>
    </div>
    <app-article-search [articles]="articles"></app-article-search>
  </ng-container>
</div>