<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav align="end">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['/auth']" color="accent">Sign in or register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="smallScreen | async"><mat-icon>menu</mat-icon></button>
      <a [routerLink]="['/']" class="main-title" *ngIf="!(smallScreen | async)">
        <h1>The AI Journal</h1>
      </a>
      <h1 *ngIf="(smallScreen | async)" class="main-title centered">The AI Journal</h1>
      <nav *ngIf="!(smallScreen | async)" class="spacer">
        <a mat-button [routerLink]="['/']">Home</a>
      </nav>
      <a mat-raised-button [routerLink]="['auth']" *ngIf="!(smallScreen | async)">Sign in or register</a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
