.title {
    float: left;
    margin-bottom: 64px;
}
.create {
    float: right;
}
.cards {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    mat-card {
        width: 100%;
        margin-bottom: 16px;
        .article-description {
            padding: 0 16px 0 16px;
            text-align: left;
        }
        .controlled-image {
            background-size: cover;
            height: 25vh;
        }
    }
}