.back-button {
    float: left;
}
.share-button {
    float: right;
    margin-bottom: 8px;
}
.article-title {
    text-align: center;
}
.article-content {
    p {
        text-indent: 4em;
    }
}
.rating {
    float: right;
}
.data {
    padding: 16px;
    overflow: hidden;
    .author {
        float: left;
    }
    .date {
        float: right;
    }
}