<div class="page-margins content">
  <h2 class="mat-display-1 center">Article Guidelines</h2>
  <p>
    When posting your articles to <i>The AI Journal</i>, please consult this page and ensure that your content adheres to these guidelines on a general level. It is vital to the integrety of this website's content that all authors are considerate and write with the same purpose in mind: research and exploration of AI.
  </p>
  <h2>Sources</h2>
  <p> We ask that you include the sources for any information that you can. This is quite easy to do, so we expect that in as many cases as possible these sources are included. </p>
  <p>To add a source, navigate to the <i>sources</i> section in the article editor. To use a source in text, simply put in parenthesis a pound symbol (#) or a period (.) followed by the tag you assigned it. For example, a source tagged "test" would be used in text by typing (#test) or (.test).</p>
  <p>By convention, a pound symbol denotes a source with a single link associated with it, while a period denotes one with many.</p>
  <h2>Language</h2>
  <p>Please use formal language when writing your articles. While it is not imperitive that you use full scholarly diction for every article, informal writing should be limited.</p>
  <p>It is also important that all authors avoid conjecture as much as possible. These articles are meant to paint an objective picture of the current state of AI. Any "facts" that cannot be cited from any source are likely either opinion based or conjecture. If there is something you consider a fact, cite it to be safe. Do not include general statements and assume that the reader will not question its validity.</p>
  <h2>Images</h2>
  <p>To speed up page loading and stick to the formal theme of the articles within this journal, we recommend that you limit the number of pictures you include in your articles.</p>
  <p>Images of graphs or other data are appreciated, but should not be overused. If there is a large amount of information from a source that you wish to cite, include it as a source and reference it in your writing.</p>
  <h2>Formatting</h2>
  <p>Posts can be formatted with HTML, but inline CSS is limited. Try to rely on semantic HTML5 tags to format text as much as possible, but also do not hesitate to use the <a href="https://material.angular.io/guide/typography" target="_blank">Angular Material typography</a> classes.</p>
  <p>You should not need to change the color, size, or font family of text, since it has already been configured for maximum readability. If you absolutely need to change things like that, some inline styles will work, but not those that could potentially include a link to an outside source. In general, your article should contain plain text, images, and headings (preferably in h2 tags)</p>
  <h2>Debate</h2>
  <p>To express a conflicting opinion with another author on the website, we ask that you include their article as a reference within your response article. Please do not create short, aggressive, or contentless reactions as articles. Responses should be fully-formed articles with sources cited and opinions formally expressed in the same way you would in any other article.</p>
</div>